button {
    position: absolute;
    top: 450px;
    width: 90%;
    margin-left: 5%;
}

input[type="text"] {
    width: 400px;
    margin-left: -200px;
    position: absolute;
    left: 50%;
}

form{
    margin-top: 50px;
}

.vl {
    height: 300px;
    width: 3px;
    background-color: #a3a3a3;
}

.col {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}