html, body {
    background-color: #2b2b2b;
    color: #a3a3a3;
    font-family: sans-serif;
}

button {
    color: #a3a3a3;
    border: 2px solid #a3a3a3;
    background-color: #2b2b2b;
    padding: 5px;
    border-radius: 2px;
    display: block;
}

button:hover {
    background-color: #a3a3a3;
    color: #2b2b2b;
}

.centerText {
    text-align: center;
}

#gameview {
    width: 853px;
    height: 480px;
}

input[type="radio"] {
    display: none;
}

input[type="text"] {
    border: none;
    background-color: #a3a3a3;
    color: #2b2b2b;
    padding: 5px;
    border-radius: 5px;
}

label {
    margin-right: 20px;
}

input[type="radio"]:checked+label {
    color: #00ccff;
    font-weight: bold;
}

