#buttonholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 55px;
    margin: 100px;
}

button{
    padding: 20px;
    border-width: 5px;
    border-radius: 25px;
    margin: 30px;
    font-size: 40px;
}